.login{
    display:grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}
.login > img{
    width: 100%;

}
.login > a{
    padding:20px;
    background-color: green;
    font-weight: 800;
    color: honeydew;
    border-radius: 99px;
    text-decoration: none;

}